:javascript
  $(function() {
    $("#one_name").focus();
  });

= form_for(@match) do |f|
  #winner.player-details
    = text_field_tag :one_name, "", autocomplete: "off", placeholder: "Winner", class: "name"
    - Match::MATCH_SIZE.times do |i|
      = text_field_tag "game_#{i}_score_one", '', autocomplete: 'off', placeholder: '0', maxlength: 2, class: "score"
  #taunt has defeated
  #loser.player-details
    = text_field_tag :two_name, "", autocomplete: "off", placeholder: "Loser", class: "name"
    - Match::MATCH_SIZE.times do |i|
      = text_field_tag "game_#{i}_score_two", '', autocomplete: 'off', placeholder: "0", maxlength: 2, class: "score"
  
  = submit_tag "Add"
