:javascript
  $(function() {
    $("#one_name").focus();
  });

= form_for(@match) do |f|
  .player-details
    = text_field_tag :one_name, "", autocomplete: "off", placeholder: "Winner", class: "name"
    - 5.times do |i|
      = text_field_tag "game_#{i}_score_one", '', placeholder: "0", maxlength: 2, class: "score"
  #taunt has defeated
  .player-details
    = text_field_tag :two_name, "", autocomplete: "off", placeholder: "Loser", class: "name"
    - 5.times do |i|
      = text_field_tag "game_#{i}_score_two", '', placeholder: "0", maxlength: 2, class: "score"
  
  = submit_tag "Add"
