%script{:src => "http://www.google.com/jsapi", :type => "text/javascript"}
:javascript
  google.load('visualization', '1', {'packages':['annotatedtimeline']});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('date', 'Date');
    data.addColumn('number', 'Rating');
    data.addRows([
      #{@ratings_by_date.map{|date, rating| "[new Date(#{(date-1.month).strftime("%Y,%m,%d,%H,%M")}), #{rating}]"}.join(',')}
    ]);

    var chart = new google.visualization.AnnotatedTimeLine(document.getElementById('chart'));
    chart.draw(data, {displayAnnotations: false, displayRangeSelector: false, scaleType: 'maximized', scaleColumns: [], numberFormats: "0", colors: ['#3A74BA']});
  }

- content_for :title, "Player: #{@player.display_name}"

.row
  %h2.span4
    = "#{@player.display_name}'s Match History #{" vs. #{@vs.display_name}" if @vs}"

.row
  %h2.span4
    = "Elo Rating: #{@elo_player.rating}"
  %h2.span4
    = "Record: #{@num_wins} - #{@num_loses}"

.row
  #chart.span8

.row
  = render(:partial => "shared/matches")
