!!! 5
%html
  %head
    %title Paddle Battle - #{yield :title}
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = favicon_link_tag
    = csrf_meta_tag

  %body
    #page
      %header
        %h1 Paddle Battle
        %nav
          = link_to_with_current "Rankings", root_path
          = link_to_with_current "Matches", matches_path
          = link_to_with_current "Distribution", distribution_path

      = render 'shared/flash_messages'
      = yield
      %footer
        = link_to "source code", "https://github.com/edgecase/paddle-battle"
        = link_to "elo rating system", "http://en.wikipedia.org/wiki/Elo_rating_system"
