!!! 5
%html
  %head
    %title Paddle Battle - #{yield :title}
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = favicon_link_tag
    = csrf_meta_tag

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          = link_to 'Paddle Battle', root_path, class: 'brand'
          %ul.nav
            %li= link_to_with_current "Rankings", root_path
            %li= link_to_with_current "Matches", matches_path
            %li= link_to_with_current "Distribution", distribution_path
          %ul.nav.pull-right
            %li= link_to "Source Code", "https://github.com/edgecase/paddle-battle"
            %li= link_to "Elo Rating System", "http://en.wikipedia.org/wiki/Elo_rating_system"
            - if admin_signed_in?
              %li= link_to "Sign Out", destroy_admin_session_path
            - else
              %li= link_to "Sign In", "/admins/auth/google/"

    .container
      .row
        .span10
          = render 'shared/flash_messages'
      .row
        .span8
          = yield
        = render(:partial => "shared/new_match")

